<?php
session_start();
?>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulir Pendaftaran</title>
    <link rel="stylesheet" href="../bulma.css">
    <!--
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    -->
    <style>
        body{
            font-size: 18px !important;
        }

        .awalan{
            background: linear-gradient(-70deg, rgba(255, 43, 127, 0.1) 30%, rgba(250, 0, 147, 0.1) 0%), url('../landing.png') left;
            background-position: top;
            background-size: cover;
            padding-bottom: 3px;
            padding-right: 3px;
        }

    </style>
</head>
<body>
<section class="section is-fullwidth awalan">
    <div class="columns">
        <div class="column is-4">

        </div>
        <div class="column is-4">
            <p class="has-text-centered">
                <div class="content has-text-centered">
                    <img src="../logo.png" width="128px">
                    <h1 class="title">
                        Kementrian Agama
                    </h1>
            <p class="subtitle">
                Lihat dan Cetak <strong>Data</strong>.
            </p>
            <br/>
            <p>
            <table class="table is-bordered">
                <thead>
                <td class="has-text-centered has-text-weight-bold">Form</td>
                <td class="has-text-centered has-text-weight-bold">Action</td>
                </thead>
                <tr>
                    <td>N1</td>
                    <td class="has-text-centered"><a href="./hasil/n1.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N2</td>
                    <td class="has-text-centered"><a href="./hasil/n2.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N3</td>
                    <td class="has-text-centered"><a href="./hasil/n3.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N4</td>
                    <td class="has-text-centered"><a href="./hasil/n4.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N5</td>
                    <td class="has-text-centered"><a href="./hasil/n5.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N6</td>
                    <td class="has-text-centered"><a href="./hasil/n6.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
                <tr>
                    <td>N7</td>
                    <td class="has-text-centered"><a href="./hasil/n7.php" class="button is-danger is-rounded">Lihat & Cetak</a></td>
                </tr>
            </table>
            </p>
            <br>
            <p>
                <a href="./index.php" class="button is-danger is-medium is-inverted is-rounded">Kembali</a>
                <a href="hasil/destroy.php" class="button is-info is-medium is-inverted is-rounded">Hapus Data</a>
            </p>
        </div>
    </div>
    </p>
    </div>
    <div class="column is-4">

    </div>
    </div>
</section>
<footer class="footer has-text-centered">
    <p>Copyright &copy; 2018 Fatkul Nur Koirudin</p>
    <p>Program ini dibawah lisensi MIT (desain) & Creative Commons 3.0 (kode program).</p>
</footer>
</body>
</html>